body {
  font-family: "Moul", serif;
  margin: 0;
  background-color: white;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #0a203d;
  color: white;
  text-align: center;
  height: 10%;
  font-weight: 400;
  font-size: 20px;
  z-index: 9;
  align-items: center;
  display: flex;
  justify-content: center;
}

footer ul {
  gap: 30px;
}

.footer {
  color: white !important;
}

.nav-link {
  transition: color 0.3s, transform 0.3s;
}

.nav-link:hover {
  color: #f2c94c !important;
  transform: scale(1.2);
}

.nav-link:hover.active {
  border: 0;
}

.active {
  border-bottom: 7px solid;
  padding-bottom: 2px;
}

.primera-section {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #edeef6;
  padding: 10px 0;
  height: 15%;
  z-index: 9999;
}

.container,
.container-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container img {
  width: 110px;
}

.imagen-perfil-container {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: solid 2px black;
  margin-left: 60px;
}

.container-center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: calc(100% - (15% + 10%));
  margin-top: 10%;
  width: 100%;
}

.numero-usuarios {
  width: 170px;
  height: 90px;
  background-color: #edeef6;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 3px black;
}

.numero-usuarios p {
  font-size: 30px;
  text-align: center;
  margin: 0;
}

.segunda-section {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.usuarios-superlike,
.usuarios-bloqueados,
.usuarios-denegados {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.texto {
  text-align: center;
  margin-top: 10px;
}

.container-estadisticas {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin-right: 80px;
}

.imagen-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 30%;
  margin: 0;
}

.space-10 {
  border: solid 2px #7a7a7a;
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.titulo {
  display: flex;
  justify-content: center;
  text-align: center;
}

.details-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 90px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.details-container h2 {
  margin-top: 0;
}

.detail {
  margin-bottom: 10px;
  margin-left: 40px;
}

.detail i {
  margin-right: 5px;
}

.detail-value {
  font-weight: bold;
}

.material-icons {
  vertical-align: middle;
}

/* Estilo para el botón "Modificar datos" */
#btnModificarDatos {
  background-color: black;
  /* Color de fondo verde */
  color: white;
  /* Color de texto blanco */
  border: none;
  /* Sin borde */
  padding: 10px 20px;
  /* Espaciado interno */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  /* Bordes redondeados */
}

#btnModificarDatos:hover {
  background-color: purple;
}

/* Estilo para el botón "Guardar cambios" */
.container-datos-modificar button[type="submit"] {
  background-color: black;
  /* Color de fondo azul */
  color: white;
  /* Color de texto blanco */
  border: none;
  /* Sin borde */
  padding: 10px 20px;
  /* Espaciado interno */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  /* Bordes redondeados */
}

.container-datos-modificar button[type="submit"]:hover {
  background-color: purple;
}

.container-datos,
.container-datos-modificar {
  font-family: "Montserrat Alternates", sans-serif;
}

.container-ajustes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat Alternates", sans-serif;
  background-color: #edeef6;
  margin-bottom: 100px;
  border: solid black 1px;
  padding: 50px;
  width: 50%;
}

.section-cuenta,
.section-pantalla,
.section-notificaciones,
.section-privacidad {
  text-align: center;
  margin-top: 10px;
}

.section-cuenta p:hover,
.section-pantalla p:hover,
.section-notificaciones p:hover,
.section-privacidad p:hover {
  color: #0a203d;
  font-weight: bold;
}

h4 {
  font-weight: bold;
}

.hr {
  border: solid #7a7a7a 1px;
  width: 90%;
}

.subseccion {
  display: none;
  width: 100%;
  margin-top: 10px;
}

.subseccion p {
  margin: 0;
}

p {
  user-select: none;
  cursor: default;
}

.password-input-container {
  position: relative;
}

.toggle-password-btn {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
  color: #555;
  background: none;
  border: none;
  padding: 0;
}

.toggle-password-btn:focus {
  outline: none;
}

.toggle-password-btn i {
  pointer-events: none;
}

.toggle-password-btn i {
  font-size: inherit;
}

#confirmar_contrasena,
#contrasena {
  width: 90%;
}

.swal2-title.text-black {
  color: #0a203d !important;
}

.swal2-content.text-black {
  color: black !important;
}

#actividad-reciente-container {
  background-color: azure;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

.containerMobile {
  display: none;
}

@media (max-width: 865px) {
  .container-center {
    margin-top: 14%;
  }
}

@media (max-width: 594px) {
  .container-center {
    margin-top: 16%;
  }
}

@media (max-width: 535px) {
  .container-center {
    margin-top: 18%;
  }
}

@media (max-width: 535px) {
  .container-center {
    margin-top: 18%;
  }
}

@media (max-width: 435px) {
  .container-center {
    margin-top: 22%;
  }
}

@media (max-width: 356px) {
  .container-center {
    margin-top: 26%;
  }
}

@media (max-width: 553px) {
  .container-ajustes h4 {
    font-size: 14px;
  }

  .container-ajustes h5 {
    font-size: 14px;
  }

  .container-ajustes p {
    font-size: 14px;
  }
}

@media (max-width: 320px) {
  .container-ajustes h4 {
    font-size: 12px;
  }

  .container-ajustes h5 {
    font-size: 12px;
  }

  .container-ajustes p {
    font-size: 12px;
  }
}

@media (max-width: 992px) {
  .containerMobile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
  }

  .containerMobile ul {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .containerMobile i {
    font-size: 32px;
  }

  .navbar {
    padding: 0;
  }

  .container-footer {
    display: none;
  }

  .container-center h2 {
    font-size: 18px;
  }
}
